// reset
@use "./reset.scss";

// exports
@use "./breakpoints/exports.scss" as breakpoints;
@use "./colors/exports.scss" as colors;
@use "./elevation/exports.scss" as elevation;
@use "./spacings/exports.scss" as spacings;
@use "./typography/exports.scss" as typography;
@use "./grid/exports.scss" as grid;
@use "./rounded/exports.scss" as rounded;

// class generator
@use "./spacings/classGenerator.scss" as spacingClasses;
@use "./grid/classGenerator.scss" as gridClasses;

//
@use "./heading.scss";

body,
[data-theme] {
  font-family: var(--font-primary);
  background: var(--bkg-color);
  font-size: var(--text-base-size);
}

::selection {
  background: var(--act-color);
  color: var(--font-primary);
}
