$font-heading: Comfortaa, sans-serif;
$font-primary: Poppins, sans-serif;
$font-secondary: Montserrat, serif;
$font-base-size: 16px;

:root {
  --font-heading: #{$font-heading};
  --font-primary: #{$font-primary};
  --font-secondary: #{$font-secondary};
  --font-base-size: #{$font-base-size};
}

:export {
  fontHeading: #{$font-heading};
  fontPrimary: #{$font-primary};
  fontSecondary: #{$font-secondary};
  fontBaseSize: #{$font-base-size};
}
