$font-primary: Nunito Sans, sans-serif;
$font-secondary: Montserrat, serif;
$font-base-size: 1em;

:root {
  --font-primary: #{$font-primary};
  --font-secondary: #{$font-secondary};
  --font-base-size: #{$font-base-size};
}

:export {
  fontPrimary: #{$font-primary};
  fontSecondary: #{$font-secondary};
  fontBaseSize: #{$font-base-size};
}
