@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
$font-heading: Comfortaa, sans-serif;
$font-primary: "Space Grotesk", sans-serif;
$font-secondary: Montserrat, serif;
$font-base-size: 16px;
