body,
[data-theme] {
  font-family: var(--font-primary);
  background: var(--bkg-color);
  font-size: var(--text-base-size);
}

[data-theme="dark"] {
  --text-color: #f6f6f6;
  --bkg-color: #1a1c20;
}

[data-theme="oled"] {
  --text-color: #f6f6f6;
  --bkg-color: #000;
  --bkg-logo: #000;
}