$font-primary: "Nunito Sans", sans-serif;
$font-secondary: "Montserrat", serif;
$text-base-size: 1em;

:root {
  --font-primary: $font-primary;
  --font-secondary: $font-secondary;
  --text-base-size: $text-base-size;
}

:export {
  fontPrimary: var(--font-primary);
  fontSecondary: var(--font-secondary);
  fontBaseSize: var(--text-base-size);
}
